.labels
{
    color: white;
    width: 100%;
    padding-left: 30px;
}
input
{
    width: 98%;
    background-color: rgba(75, 69, 38, 0.658);
    border-bottom: 2px solid rgb(200, 131, 10);
    border-radius: 5px;
    color: white;
    height: 25px;
}
.submitButton
{
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
    background-color: rgba(75, 69, 38, 0.658);
    border: 2px solid rgb(200, 131, 10);
    border-radius: 5px;
    color: white;
    height: 35px;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root { 
border-bottom: 2px solid rgb(200, 131, 10) !important;  
background-color: rgba(75, 69, 38, 0.658) !important;
padding-top: 10px !important;
/* height: 35px !important; */
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
color: rgba(0, 0, 0, 0)  !important;
}

